
@{
    Layout = null;
}

<b>
    There are @ViewBag.CustomersCount customers with billing failed in the database&nbsp;<!--<a id="lnkExportToExcel" href="#">Export to xlsx</a>-->&nbsp;<a id="lnkCancellDownload" href="#" style="display:none">Cancel download</a>
</b>
