<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>    
    <add name="CastleClubEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=54.69.138.233;initial catalog=CastleClub;user id=CastleClubSite;password=&quot;p^a_u-E+:U98v0-W_;658!715|f|B&quot;;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apitest.authorize.net/soap/v1/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AuthorizeService.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="PublicEncrypt" value="C:\Work\CastleClub\CastleClub.BusinessLogic\publicKey.xml" />
    <add key="Certificate" value="C:\Work\CastleClub\CastleClub.BusinessLogic\certificate.cer" />
    <add key="yearMin" value="2014" />
    <add key="DeployYear" value="2014" />
    <add key="DeployMonth" value="10" />
    <add key="DeployDay" value="24" />
  </appSettings>
</configuration>