<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- Business logic -->
    <add key="PublicEncrypt" value="D:\abstracta\castelclub\CastleClub\CastleClub.BusinessLogic\publicKey.xml" />
    <add key="Certificate" value="D:\abstracta\castelclub\CastleClub\CastleClub.BusinessLogic\certificate.cer"/>
    <add key="EmailAccount" value="customerservice@autodealexpress.com" />
    <add key="Smtp" value="secure.emailsrvr.com" />
    <add key="EmailPassword" value="oc=e7EhA4USw" />
    <add key="LogPath" value="c:\Logs\LogBackend.txt" />
    <add key ="UrlResetPassword" value="{0}/Account/ResetPassword?value={1}"/>
    <add key="CapEmail" value="10" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <connectionStrings>
    <add name="CastleClubEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CastleClub;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>